<table border="0" style="width: 800px;margin-left:40px;top: 10px;position: relative;background-color: rgb(188, 188, 188);
">
              <tr class="details_pro_div" ><td class="details_field"><div class="text_eval">Leave From:</div></td><td class="input_div"><div>{{From_date}}</div></td></tr>
             <tr class="details_pro_div" ><td class="details_field"><div class="text_eval">Leave To:</div></td><td class="input_div"><div>{{To_date}}</div></td></tr>
             <tr class="details_pro_div" ><td class="details_field"><div class="text_eval">Status of your Leave Apply:</div></td><td class="input_div"><div>{{Status}}</div></td></tr>
   </table>