<table border="0" style="width: 800px;margin-left:40px;top: 10px;position: relative;background-color: rgb(188, 188, 188);
">
              <tr class="details_pro_div" ><td class="details_field"><div class="text_eval">Name</div></td><td class="input_div"><div>{{user}}</div></td></tr>
              <tr class="details_pro_div" ><td class="details_field"><div class="text_eval">leave_type</div></td><td class="input_div"><div>{{leavetype}}</div></td></tr>
              <tr class="details_pro_div" ><td class="details_field"><div class="text_eval">From_date</div></td><td class="input_div"><div>{{From_date}}</div></td></tr>
              <tr class="details_pro_div" ><td class="details_field"><div class="text_eval">To_date</div></td><td class="input_div"><div>{{To_date}}</div></td></tr>
              <tr class="details_pro_div" ><td class="details_field"><div class="text_eval">Timeoff</div></td><td class="input_div"><div>{{Timeoff}}</div></td></tr>
              <tr class="details_pro_div" ><td class="details_field"><div class="text_eval">WDay_apply</div></td><td class="input_div"><div>{{WDay_apply}}</div></td></tr>
              <tr class="details_pro_div" ><td class="details_field"><div class="text_eval">remark</div></td><td class="input_div"><div>{{remark}}</div></td></tr>
              <div><a href="/www.google.com"></a></div>
   </table>