<html>
 <title>Approver Login
 </title>
 <link rel="stylesheet" href="{{STATIC_URL}}css/styles.css">
 </head>
 <body id="bodytype">
  <h1 id="pass">
Password Reset
 </h1>
 <form id="Form">
  <div id="content">
   <img src="{{ STATIC_URL }}images/leave.jpg"width="60px"height="60px"><br><br><br>
   <!-- Company: &nbsp;<input type="text" name="company"size="20px"><br><br> -->
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enter Password :&nbsp;<input type="password" id="password" size="20px"><br><br>
   Re-Enter Password :&nbsp;<input type="password" id="password1" size="20px"><br><br><br><br><br><br>   
   <input type="button" id="loginbutton" value="Reset" onclick="forgotpassword(form)"><br><br>
  </div>
  </form>

 </body>

<script src="{{ STATIC_URL }}js/min.js"></script>
<script type="text/javascript">

 function forgotpassword(form){
  console.log(form.password.value)
  if (form.password.value == undefined ) {
    alert("Please enter password");
  }
  else if (form.password1.value == undefined) {
      alert("Please re-enter password");
  }
  else if(password != password1){
    alert("Passwords not matching");
  }
  else if (password!=undefined && password1!=undefined  && password==password1 ) {               
                
  var value = password;
  console.log('value')
  console.log(value)
    $.ajax({
      type:'POST',
      url:'/changepassword/',
      data:value,
    success:function(response){
      console.log(response)
      if(response == "approverlogin"){
        window.location.href="/formdisplay/";
      }
      else if (response=="userlogin"){
        window.location.href="/home/";
      }
      else if (response=='"authentication failed"'){
        alert("password does not match");
      }
      
      else {alert("password does not match");}
    }
  })

  }  
    // document.getElementById("Form").reset();
 }

 </script>

</html>