<html>
<title>LEAVE FORM</title>

<head>
<link rel="stylesheet" href="{{STATIC_URL}}css/leaveform.css">  
</head>
<body>

{% csrf_token %}

<!-- <div class="head"></div> -->
<div class="border">
  <center style="background-color:blue;font-size:25px;font-family:verdana;">LEAVE FORM</center><br>
  <form id="Form">
    Leave Type:<select id="leavetype" style="margin-left:110px;width:240px;">
          <option value="Annual Leave">Annual Leave</option>
          <option value="Sick Leave">Sick Leave</option></select><br><br>
    From Date:<input type="date" id="From_date" onchange="time_diff()"><br><br>
    To Date: <input type="date" id="To_date"style="margin-left:133px;" onchange="time_diff()"><br><br>
    Time Off:<select id="Timeoff" style="margin-left:128px;width:241px;"><option value="Full Day Off">Full Day Off</option>
          <option value="Partial Day Off">Partial Day Off</option></select><br><br>
    Working Days Applied:<input type="text" id="WDapply"  style="margin-left:16px;width:243px"><br><br>
    Remarks:<textarea rows="2" id="remark" cols="32" style="margin-left:130px;"></textarea><br><br>
   &nbsp;<button type="submit" id="save" onclick="Save()"style = "margin-left:200px">Save</button>
   <button type="submit" id="reset"value="reset"onClick="reset()">Reset</button>
<span><img src="{{ STATIC_URL }}images\form.png"style = "width: 125px;margin-bottom:-150px;margin-left:75%;margin-top: -35%;"></span><br>   
</form>

</div>
</body>

</html>
<script src="{{ STATIC_URL }}js/min.js"></script>
<script type="text/javascript">

function time_diff(){
    var From_date=document.getElementById('From_date').value;
    var To_date=document.getElementById('To_date').value; 
    var date1 = new Date(From_date);
    var date2 = new Date(To_date);
    var timeDiff = Math.abs(date2.getTime() - date1.getTime());
    var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24)); 
    if (!isNaN(diffDays)) {
    console.log(diffDays);
    document.getElementById('WDapply').value=diffDays;

    };
};
function Save(){
    var Timeoff=document.getElementById('Timeoff').value;
	  var leavetype = document.getElementById('leavetype').value;
    var remark = document.getElementById('remark').value;
    var From_date=document.getElementById('From_date').value;
    var To_date=document.getElementById('To_date').value; 
    var WDapply = document.getElementById('WDapply').value;
    alert(WDapply);
 
    var all={
      Timeoff:Timeoff,
      From_date:From_date,
      To_date:To_date,
      leavetype:leavetype,
      WDapply:WDapply,
      
      
      
      remark:remark,

    };
      
    $.ajax({
      type:'POST',
      url:'/leaveform/',
      data:{
      	   all:all,
    	   csrfmiddlewaretoken: '{{csrf_token}}'
    	},
    success: function (response) {
        console.log(response);
        if (response="saved")
          {
            alert('ok');
          }

            }
            });

}

function reset() {
  document.getElementById("Form").reset();
}






</script>


